
<div class="text-center mt-5">
    <h1 class="display-4">Good luck</h1>
    <p>Happy Coding!</p>

    <div class="container-fluid bg-light text-left p-5">
        <h2>Currency Calculator</h2>
        <p>Convert the Currency</p>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <input type="number" class="form-control" id="sourceAmount" placeholder="100">
                </div>
                <div class="col-md-2">
                    <select class="form-control" id="sourceCurrency">
                        <option>AED</option>
                        <option>ARS</option>
                        <option>AUD</option>
                        <option>BGN</option>
                        <option>BRL</option>
                    </select>
                </div>
                <div class="col-md-3">
                    
                    <div class="row">
                        <div class="col-md-5">Convert to </div>
                        <div class="col-md-7">
                        <select class="form-control" id="targetCurrency">
                            <option>BSD</option>
                            <option>CAD</option>
                            <option>CHF</option>
                            <option>CLP</option>
                            <option>CNY</option>
                        </select></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" onclick="GetCurrency()">Convert</button>
                </div>
            </div>

            <div class="row">
                <p id="result"></p>
            </div>
        </div>
    </div>
</div>
